body {
    background-color: #F5F0E3;
    color: #001F23;
    font-family: Roboto;
}

header, footer {
    background-color: #F8C765;
}


.actbutton {
    color: #E3492B;
}

.text-bg-dark{
    background-color: transparent;
}
.category{
    padding-bottom: 2%;
}

.card{
    width: 360px;
    height: 94px;
    --bs-card-bg: none;
    --bs-card-border-color: none;
    color: white;
    border-radius: 5px;
    padding: 10px;
}


.text-bg-dark{
    color: white;
}

.card-title{
    
    
}
.card-text{
    padding-left: 40px;
}
.products{
    height: 310px;
    width:  300px;
    background-color: #fff;
    color: black;
    margin-top: 5%;
    transition: all 750ms ease;
}
.products:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);    
}
.card-body > .btn{
    --bs-btn-border-radius: 25px;
}
.btn-circle {
    width: 50px;
    height: 50px;
    padding: 7px 13px;
    border-radius: 35px;
    font-size: 24px;
    line-height: 1.33;
    margin-left: 80%;
    margin-top: -55%;
}

i{
    text-align:center !important;
}
.price{
    font-weight: 500;
    margin-bottom: -1%;
    /*margin-top: 15%;
    */position: absolute;
}
.products > .card-body > .card-title{
    padding: 0px;
    
} 
hr{
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
}
.category > div > div > a{
    text-decoration: none;
    color: white;
}
a{
    text-decoration: none;
    color: black;
}
.gal{
    max-width: 500px;
}

.description{
    max-width: 1100px;
}

.qty {
    width: 40px;
    height: 25px;
    text-align: center;
}
input.qtyplus { width:25px; height:25px;}
input.qtyminus { width:25px; height:25px;}

.form-select{
    width: 7%;
    border: none;
    background-color: transparent;
}
.description > div > ul > li{
    padding: 5px;
}
.des-right{
    margin-left: 50%; 
}
@media screen and (max-width: 775) {
    
}


/*Button colors
Green: #275A53
Red: #E3492B
*/  
