body {
    background-color: #F5F0E3;
    color: #001F23;
}

header, footer {
    background-color: #F8C765;
}

.actbutton {
    color: #E3492B;
}

.text-bg-dark{
    background-color: transparent;
}

.card{
    --bs-card-bg: none;
    --bs-card-border-color: none;
    color: white;
    border-radius: 5px;
    padding: 10px;
}

.text-bg-dark{
    color: white;
}

.card-title{
    padding-left: 40px;
    padding-top: 15px;
}
.card-text{
    padding-left: 40px;
}
.products{
    background-color: #fff;
    color: black;
    border:2px solid  black;
}
.btn{
    --bs-btn-border-radius: 25px;
}
.btn-circle {
    width: 50px;
    height: 50px;
    padding: 7px 13px;
    border-radius: 35px;
    font-size: 24px;
    line-height: 1.33;
    margin-left: 70%;
    margin-top: -55%;
}

i{
    text-align:center !important;
}
.products{
    height: 310px;
}
.price{
    font-weight: 500;
    margin-bottom: -1%;
    /*margin-top: 15%;
    */position: absolute;
}
.price_num{
    margin-top: 15%;
    position: absolute;
}
.products > .card-body > .card-title{
    padding: 0px;
    
} 
/*Button colors
Green: #275A53
Red: #E3492B
*/